{
  "swagger": "2.0",
  "info": {
    "description": "This document describes the APIs to integrate with Inspectorio’s SaaS system",
    "title": "API INTEGRATION",
    "version": "v1"
  },
  "host": "integration.saas.inspectorio.com",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "The username and password will be in JSON format. The password must be hashed with SHA512.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AuthenticationSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The token and refreshToken is returned. The token must be added to header to all other requests to server. The token will be expired in 24 hours. When the token is expired, the client can acquire a new token by using refresh token API that is described in the next section",
            "schema": {
              "$ref": "#/definitions/LoginSchema"
            }
          },
          "401": {
            "description": "Unauthorized error.",
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Login"
      }
    },
    "/auth/refresh": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "refreshToken": {
                  "type": "string",
                  "description": "The refreshToken returned in Login API",
                  "example": "8111eed4-283c-4f9d-9e23-1aac0fe3b9ea"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The new token and refresh-token is returned.",
            "schema": {
              "$ref": "#/definitions/LoginSchema"
            }
          },
          "400": {
            "description": "The refresh-token is not included in the request header",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "401": {
            "description": "Unauthorized error.",
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Refresh token"
      }
    },
    "/pos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The number of items to return",
            "in": "query",
            "maximum": 100,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Next Item",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of POs in JSON format",
            "schema": {
              "properties": {
                "offset": {
                  "example": 10,
                  "type": "integer"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/PoSchema"
                  },
                  "type": "array"
                },
                "limit": {
                  "example": 10,
                  "type": "integer"
                },
                "total": {
                  "example": 50,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The token is not included in the request header",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "POs"
        ],
        "description": "Get all PO information"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "The whole data of PO in JSON format.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NewPoSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The content of PO in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PoSchema"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "409": {
            "description": "The PO with same number already exists in the system",
            "schema": {
              "$ref": "#/definitions/PoAlreadyExistError"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "POs"
        ],
        "description": "Add new PO"
      }
    },
    "/pos/{po_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Existing PO number",
            "in": "path",
            "name": "po_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "POs"
        ],
        "description": "Delete an existing PO"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Existing PO number",
            "in": "path",
            "name": "po_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The content of PO in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PoSchema"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "POs"
        ],
        "description": "Get information of a specific PO"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Existing PO number",
            "in": "path",
            "name": "po_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The whole data of PO in JSON format.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NewPoSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The content of PO in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PoSchema"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "409": {
            "description": "The PO with same number already exists in the system",
            "schema": {
              "$ref": "#/definitions/PoAlreadyExistError"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "POs"
        ],
        "description": "Update information of an existing PO"
      }
    },
    "/styles/{style_id}/measurements": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Measurements in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/PomSchema"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The token is not included in the request header",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Measurements"
        ],
        "description": "This API allows client to retrieve Measurement information of Style"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "The whole data of PO in JSON format.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NewPomSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The content of Measurements in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/PomSchema"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "409": {
            "description": "The Measurement with same number already exists in the system",
            "schema": {
              "$ref": "#/definitions/PoAlreadyExistError"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Measurements"
        ],
        "description": "This API allows client to add new Measurements"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "The whole data of Measurements in JSON format.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NewPomSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The content of Measurements in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/PomSchema"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "409": {
            "description": "The Measurement with same number already exists in the system",
            "schema": {
              "$ref": "#/definitions/PoAlreadyExistError"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Measurements"
        ],
        "description": "This API allows client to update information of an existing Measurements"
      }
    },
    "/bookings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The number of items to return",
            "in": "query",
            "maximum": 10,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Next Item",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sorting data",
            "in": "query",
            "name": "order",
            "required": false,
            "example": "created_date:desc|asc",
            "type": "string"
          },
          {
            "description": "Booking status",
            "in": "query",
            "name": "status",
            "required": false,
            "example": "NEW",
            "type": "string"
          },
          {
            "description": "Created time range (from) with UTC format",
            "in": "query",
            "name": "created_from",
            "required": false,
            "example": "2018-01-20T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Created time range (to) with UTC format",
            "in": "query",
            "name": "created_to",
            "required": false,
            "example": "2018-01-30T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Updated time range (from) with UTC format",
            "in": "query",
            "name": "updated_from",
            "required": false,
            "example": "2018-01-20T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Updated time range (to) with UTC format",
            "in": "query",
            "name": "updated_to",
            "required": false,
            "example": "2018-01-30T07:43:00Z",
            "format": "date",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Bookings in JSON format",
            "schema": {
              "properties": {
                "offset": {
                  "example": 10,
                  "type": "integer"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/BookingSchema"
                  },
                  "type": "array"
                },
                "limit": {
                  "example": 10,
                  "type": "integer"
                },
                "total": {
                  "example": 50,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The token is not included in the request header",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Bookings"
        ],
        "description": "Get all Bookings information"
      }
    },
    "/bookings/{booking_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Existing booking id",
            "in": "path",
            "name": "booking_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The content of Booking in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BookingSchema"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Bookings"
        ],
        "description": "Get information of a specific Booking"
      }
    },
    "/reports": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The number of items to return",
            "in": "query",
            "maximum": 10,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Next Item",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sorting data",
            "in": "query",
            "name": "order",
            "required": false,
            "example": "created_date:desc|asc",
            "type": "string"
          },
          {
            "description": "Created time range (from) with UTC format",
            "in": "query",
            "name": "created_from",
            "required": false,
            "example": "2018-01-20T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Created time range (to) with UTC format",
            "in": "query",
            "name": "created_to",
            "required": false,
            "example": "2018-01-30T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Inspection time range (from) with UTC format",
            "in": "query",
            "name": "inspection_date_from",
            "required": false,
            "example": "2018-01-20T07:43:00Z",
            "format": "date",
            "type": "string"
          },
          {
            "description": "Inspection time range (to) with UTC format",
            "in": "query",
            "name": "inspection_date_to",
            "required": false,
            "example": "2018-01-30T07:43:00Z",
            "format": "date",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Reports in JSON format",
            "schema": {
              "properties": {
                "offset": {
                  "example": 10,
                  "type": "integer"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/InspectionSchema"
                  },
                  "type": "array"
                },
                "limit": {
                  "example": 10,
                  "type": "integer"
                },
                "total": {
                  "example": 50,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The token is not included in the request header",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "description": "Get all Reports information"
      }
    },
    "/reports/{report_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "application/json",
            "in": "header",
            "name": "content-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provided at Login step",
            "format": "uuid",
            "in": "header",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Existing PO number",
            "in": "path",
            "name": "report_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The content of PO in JSON format",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ReportSchema"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/BadRequestError"
            }
          },
          "403": {
            "description": "The token is invalid",
            "schema": {
              "$ref": "#/definitions/InvalidTokenError"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/SystemError"
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "description": "Get information of a specific Report"
      }
    }
  },
  "definitions": {
    "AuthenticationSchema": {
      "properties": {
        "password": {
          "example": "92450fc7129f47bda6cbc9e84b9c9e96...",
          "format": "sha512",
          "type": "string"
        },
        "username": {
          "example": "youremail@yourdomain.com",
          "format": "email",
          "type": "string"
        }
      },
      "required": [
        "username",
        "password"
      ],
      "type": "object"
    },
    "LoginSchema": {
      "type": "object",
      "properties": {
        "data": {
          "properties": {
            "refreshToken": {
              "example": "8111eed4-283c-4f9d-9e23-1aac0fe3b9ea",
              "format": "uuid",
              "type": "string"
            },
            "token": {
              "example": "8111eed4-283c-4f9d-9e23-1aac0fe3b9ea",
              "format": "uuid",
              "type": "string"
            }
          },
          "required": [
            "refreshToken",
            "token"
          ],
          "type": "object"
        }
      }
    },
    "NewPoSchema": {
      "properties": {
        "vendorId": {
          "example": "Vendor237196",
          "type": "string"
        },
        "poNumber": {
          "example": "PO Number",
          "type": "string",
          "description": "Unique key"
        },
        "productLineId": {
          "example": "12345",
          "type": "string"
        },
        "clientId": {
          "example": "Client237196",
          "type": "string"
        },
        "deliveryDate": {
          "example": "2018-01-20T07:43:00Z",
          "format": "date",
          "type": "string"
        },
        "factoryId": {
          "example": "Factory237196",
          "type": "string"
        },
        "opoNumber": {
          "example": "OPO Number",
          "type": "string"
        },
        "styles": {
          "items": {
            "properties": {
              "assortments": {
                "items": {
                  "$ref": "#/definitions/AssortmentSchema"
                },
                "type": "array"
              },
              "productCategoryId": {
                "example": "123456",
                "type": "string"
              },
              "solids": {
                "items": {
                  "$ref": "#/definitions/SolidSchema"
                },
                "type": "array"
              },
              "styleDescription": {
                "example": "237196FFFFF",
                "type": "string"
              },
              "styleId": {
                "example": "237196FFFFF",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "required": [
        "poNumber",
        "vendorId",
        "productLineId"
      ],
      "type": "object"
    },
    "PoSchema": {
      "properties": {
        "clientId": {
          "example": "Client237196",
          "type": "string"
        },
        "clientName": {
          "example": "Client Name",
          "type": "string"
        },
        "createdDate": {
          "example": "2018-01-20T07:43:00Z",
          "format": "date",
          "type": "string"
        },
        "deliveryDate": {
          "example": "2018-01-20T07:43:00Z",
          "format": "date",
          "type": "string"
        },
        "factoryId": {
          "example": "Factory237196",
          "type": "string"
        },
        "factoryName": {
          "example": "Factory Name",
          "type": "string"
        },
        "opoNumber": {
          "example": "OPO Number",
          "type": "string"
        },
        "poNumber": {
          "example": "PO Number",
          "type": "string"
        },
        "productLineId": {
          "example": "12345",
          "type": "string"
        },
        "productLineName": {
          "example": "Footwear",
          "type": "string"
        },
        "styles": {
          "items": {
            "properties": {
              "assortments": {
                "items": {
                  "$ref": "#/definitions/AssortmentSchema"
                },
                "type": "array"
              },
              "productCategoryId": {
                "example": "123456",
                "type": "string"
              },
              "solids": {
                "items": {
                  "$ref": "#/definitions/SolidSchema"
                },
                "type": "array"
              },
              "styleDescription": {
                "example": "237196FFFFF",
                "type": "string"
              },
              "styleId": {
                "example": "237196FFFFF",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "updatedDate": {
          "example": "2018-01-20T07:43:00Z",
          "format": "date",
          "type": "string"
        },
        "vendorId": {
          "example": "Vendor237196",
          "type": "string"
        },
        "vendorName": {
          "example": "Vendor Name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssortmentSchema": {
      "properties": {
        "assortmentId": {
          "example": "Assortment Id",
          "type": "string"
        },
        "cartonQuantity": {
          "example": 10,
          "type": "integer"
        },
        "items": {
          "items": {
            "properties": {
              "color": {
                "example": "Red",
                "type": "string"
              },
              "configuration": {
                "example": 2,
                "type": "integer"
              },
              "itemId": {
                "example": "Item Id",
                "type": "string"
              },
              "quantity": {
                "example": 20,
                "type": "integer"
              },
              "size": {
                "example": "L",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SolidSchema": {
      "properties": {
        "color": {
          "example": "Red",
          "type": "string"
        },
        "itemId": {
          "example": "Item Id",
          "type": "string"
        },
        "quantity": {
          "example": 20,
          "type": "integer"
        },
        "size": {
          "example": "L",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RatioSchema": {
      "properties": {
        "quantity": {
          "example": 20,
          "type": "integer"
        },
        "cartonQuantity": {
          "example": 20,
          "type": "integer"
        },
        "colors": {
          "items": {
            "properties": {
              "name": {
                "example": "Red",
                "type": "string"
              },
              "value": {
                "example": 5,
                "type": "integer"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "sizes": {
          "items": {
            "properties": {
              "name": {
                "example": "L",
                "type": "string"
              },
              "value": {
                "example": 5,
                "type": "integer"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "NewPomSchema": {
      "properties": {
        "measurements": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "A16S.R"
              },
              "codeName": {
                "type": "string",
                "example": "NK WDTH SEAM"
              },
              "sizes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "measurement": {
                      "type": "integer",
                      "example": 9
                    },
                    "size": {
                      "type": "string",
                      "example": "XS"
                    }
                  }
                }
              },
              "tolerance": {
                "type": "integer",
                "example": 0.5
              },
              "unit": {
                "type": "string",
                "example": "inch"
              }
            }
          }
        }
      },
      "required": [
        "measurements"
      ],
      "type": "object"
    },
    "PomSchema": {
      "properties": {
        "code": {
          "type": "string",
          "example": "A16S.R"
        },
        "codeName": {
          "type": "string",
          "example": "NK WDTH SEAM"
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "measurement": {
                "type": "integer",
                "example": 9
              },
              "size": {
                "type": "string",
                "example": "XS"
              }
            }
          }
        },
        "tolerance": {
          "type": "integer",
          "example": 0.5
        },
        "unit": {
          "type": "string",
          "example": "inch"
        }
      },
      "type": "object"
    },
    "BookingSchema": {
      "type": "object",
      "properties": {
        "expectedDate": {
          "type": "object",
          "properties": {
            "inspectionDate": {
              "type": "string",
              "example": "2018-01-20T07:43:00Z"
            }
          }
        },
        "status": {
          "type": "string",
          "example": "NEW"
        },
        "caseNumber": {
          "type": "string",
          "example": "case_number"
        },
        "bookingId": {
          "type": "string",
          "example": "booking_id"
        },
        "fromOrganizationName": {
          "type": "string",
          "example": "Inspectorio Retailer"
        },
        "fromOrganizationId": {
          "type": "string",
          "example": "org_id"
        },
        "toOrganizationName": {
          "type": "string",
          "example": "Inspectorio Retailer"
        },
        "toOrganizationId": {
          "type": "string",
          "example": "org_id"
        },
        "supplierVendorInformation": {
          "type": "object",
          "properties": {
            "organizationId": {
              "type": "string",
              "example": "vendor_id"
            },
            "customId": {
              "type": "string",
              "example": "custom_id"
            },
            "contact": {
              "type": "object",
              "properties": {
                "mobileNumber": {
                  "type": "string",
                  "default": "",
                  "example": "0123456789"
                },
                "email": {
                  "type": "string",
                  "example": "sample@email.com"
                }
              }
            },
            "name": {
              "type": "string",
              "example": "Supplier Name"
            },
            "address": {
              "type": "string",
              "example": "sample address"
            }
          }
        },
        "clientInformation": {
          "type": "object",
          "properties": {
            "organizationId": {
              "type": "string",
              "example": "org_id"
            },
            "contact": {
              "type": "object",
              "properties": {
                "mobileNumber": {
                  "type": "string",
                  "example": "0123456789"
                },
                "email": {
                  "type": "string",
                  "example": "sample@email.com"
                }
              }
            },
            "name": {
              "type": "string",
              "example": "Inspectorio Retailer"
            },
            "address": {
              "type": "string",
              "example": "address"
            }
          }
        },
        "factoryInformation": {
          "type": "object",
          "properties": {
            "organizationId": {
              "type": "string",
              "example": "org_id"
            },
            "contact": {
              "$id": "/properties/inspectionInformation/properties/factoryInformation/properties/contact",
              "type": "object",
              "properties": {
                "mobileNumber": {
                  "type": "string",
                  "example": "0123456789"
                },
                "email": {
                  "type": "string",
                  "example": "sample@email.com"
                }
              }
            },
            "name": {
              "type": "string",
              "example": "sample factory name"
            }
          }
        },
        "inspectionInformation": {
          "type": "object",
          "properties": {
            "typeOfInspectionName": {
              "type": "string",
              "example": "During Production"
            },
            "typeOfInspection": {
              "type": "string",
              "example": "DUPRO"
            }
          }
        },
        "detailOfPIPO": {
          "type": "object",
          "properties": {
            "styles": {
              "items": {
                "properties": {
                  "assortments": {
                    "items": {
                      "$ref": "#/definitions/AssortmentSchema"
                    },
                    "type": "array"
                  },
                  "productCategoryId": {
                    "example": "123456",
                    "type": "string"
                  },
                  "solids": {
                    "items": {
                      "$ref": "#/definitions/SolidSchema"
                    },
                    "type": "array"
                  },
                  "measurements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "codeName": {
                          "type": "string",
                          "example": "12"
                        },
                        "tolerance": {
                          "type": "string",
                          "example": "22"
                        },
                        "unit": {
                          "type": "string",
                          "example": "cm"
                        },
                        "sizes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "measurement": {
                                "type": "string",
                                "title": "The Measurement Schema ",
                                "example": "2"
                              },
                              "size": {
                                "type": "string",
                                "example": "2"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "styleDescription": {
                    "example": "237196FFFFF",
                    "type": "string"
                  },
                  "styleId": {
                    "example": "237196FFFFF",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "pipoInformation": {
              "type": "object",
              "properties": {
                "poNumber": {
                  "type": "string",
                  "example": "POI234"
                },
                "productLine": {
                  "type": "string",
                  "example": "549"
                },
                "productLineName": {
                  "type": "string",
                  "example": "FOOTWEAR"
                }
              }
            }
          }
        },
        "createdDate": {
          "type": "string",
          "example": "2018-01-20T07:43:00Z"
        },
        "createdBy": {
          "type": "string",
          "example": "sample name"
        },
        "updatedDate": {
          "type": "string",
          "example": "2018-01-20T07:43:00Z"
        },
        "confirmedBy": {
          "type": "string",
          "example": "sample name"
        },
        "waivedBy": {
          "type": "string",
          "example": "sample name"
        },
        "rejectedBy": {
          "type": "string",
          "example": "sample name"
        },
        "reOpenBy": {
          "type": "string",
          "example": "sample name"
        },
        "remarkGroup": {
          "type": "object",
          "properties": {
            "remark": {
              "type": "string",
              "example": "s"
            }
          }
        }
      }
    },
    "InspectionSchema": {
      "type": "object",
      "properties": {
        "assignmentId": {
          "type": "string",
          "example": "aab3c866-b9d3-4e69-a127-143a38fe84f4"
        },
        "car": {
          "type": "boolean",
          "example": false
        },
        "caseNumber": {
          "type": "string",
          "example": "SampleCaseNumber"
        },
        "clientId": {
          "type": "string",
          "example": "252437"
        },
        "country": {
          "type": "string",
          "example": "-"
        },
        "createdDate": {
          "example": "2018-01-20T07:43:00Z",
          "type": "string"
        },
        "factoryId": {
          "type": "string",
          "example": "293187"
        },
        "inspectionDate": {
          "example": "2018-01-20T07:43:00Z",
          "type": "string"
        },
        "inspectionId": {
          "type": "string",
          "example": "inspection_id"
        },
        "inspectionInformation": {
          "$ref": "#/definitions/BookingSchema"
        },
        "inspectionResult": {
          "type": "string",
          "example": "pass"
        },
        "inspectionLocationAddress": {
          "type": "object",
          "properties": {
            "inspectionCity": {
              "type": "string",
              "example": "Villa Nueva"
            },
            "inspectionCountry": {
              "type": "string",
              "example": "Guatemala"
            }
          }
        },
        "inspectorId": {
          "type": "string",
          "example": "2627"
        },
        "inspectorName": {
          "type": "string",
          "example": "Sample Name"
        },
        "updatedDate": {
          "example": "2018-01-20T07:43:00Z",
          "type": "string"
        },
        "organizationId": {
          "type": "string",
          "example": "org_id"
        },
        "productCategories": {
          "type": "string",
          "example": "117011"
        },
        "productLine": {
          "type": "string",
          "example": "540"
        },
        "sharedOrganizations": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "org_id"
          }
        },
        "status": {
          "type": "string",
          "example": "completed"
        },
        "vendorId": {
          "type": "string",
          "example": "vendor_id"
        },
        "toOrganizationId": {
          "type": "string",
          "example": "to_org_id"
        },
        "typeOfInspection": {
          "type": "string",
          "example": "DUPRO"
        }
      }
    },
    "ReportSchema": {
      "type": "object",
      "properties": {
        "inspectionDefectList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "assortmentId": {
                "type": "string",
                "example": "-"
              },
              "clarification": {
                "type": "string",
                "example": "Major"
              },
              "color": {
                "type": "string",
                "example": "EBONY"
              },
              "defectCategory": {
                "type": "string",
                "example": "Construction"
              },
              "defectCode": {
                "type": "string",
                "example": "CON004"
              },
              "defectId": {
                "type": "string",
                "example": "aab3c866-b9d3-4e69-a127-143a38fe84f4_workmanship_0"
              },
              "defectName": {
                "type": "string",
                "example": "CON004 - Major Construction defects"
              },
              "description": {
                "type": "string",
                "example": "CON004 - Major Construction defects."
              },
              "group": {
                "type": "string",
                "example": "workmanship"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "item": {
                "type": "string",
                "example": "331-11-0152"
              },
              "itemDescription": {
                "type": "string",
                "example": "workmanship"
              },
              "organizationId": {
                "type": "string",
                "example": "293414"
              },
              "photos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "-"
                    },
                    "rotateAngle": {
                      "type": "string",
                      "example": "0"
                    },
                    "source": {
                      "type": "string",
                      "example": "https://s3.amazonaws.com/image.jpg"
                    }
                  }
                }
              },
              "productCategory": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "117011"
                }
              },
              "size": {
                "type": "string",
                "example": "S"
              },
              "style": {
                "type": "string",
                "example": "00548337"
              },
              "totalDefects": {
                "type": "integer",
                "example": 1
              }
            }
          }
        },
        "inspectionGeneral": {
          "items": {
            "type": "object",
            "properties": {
              "assignmentId": {
                "type": "string",
                "example": "aab3c866-b9d3-4e69-a127-143a38fe84f4"
              },
              "car": {
                "type": "boolean",
                "example": false
              },
              "caseNumber": {
                "type": "string",
                "example": "SampleCaseNumber"
              },
              "clientId": {
                "type": "string",
                "example": "252437"
              },
              "country": {
                "type": "string",
                "example": "-"
              },
              "createdDate": {
                "example": "2018-01-20T07:43:00Z",
                "type": "string"
              },
              "factoryId": {
                "type": "string",
                "example": "293187"
              },
              "inspectionDate": {
                "example": "2018-01-20T07:43:00Z",
                "type": "string"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "inspectionInformation": {
                "$ref": "#/definitions/BookingSchema"
              },
              "inspectionResult": {
                "type": "string",
                "example": "pass"
              },
              "inspection_location_address": {
                "type": "object",
                "properties": {
                  "inspection_city": {
                    "type": "string",
                    "example": "Villa Nueva"
                  },
                  "inspection_country": {
                    "type": "string",
                    "example": "Guatemala"
                  }
                }
              },
              "inspectorId": {
                "type": "string",
                "example": "2627"
              },
              "inspectorName": {
                "type": "string",
                "example": "Sample Name"
              },
              "updatedDate": {
                "example": "2018-01-20T07:43:00Z",
                "type": "string"
              },
              "organizationId": {
                "type": "string",
                "example": "org_id"
              },
              "productCategories": {
                "type": "string",
                "example": "117011"
              },
              "productLine": {
                "type": "string",
                "example": "540"
              },
              "shared_organizations": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "org_id"
                }
              },
              "status": {
                "type": "string",
                "example": "completed"
              },
              "vendorId": {
                "type": "string",
                "example": "vendor_id"
              },
              "toOrganizationId": {
                "type": "string",
                "example": "to_org_id"
              },
              "typeOfInspection": {
                "type": "string",
                "example": "DUPRO"
              }
            }
          },
          "type": "array"
        },
        "inspectionMeasurementDimensions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "color": {
                "type": "string",
                "example": "EBONY"
              },
              "dimensionId": {
                "type": "string",
                "example": "dimension_id"
              },
              "dimensionIndex": {
                "type": "integer",
                "example": 8
              },
              "id": {
                "type": "string",
                "example": "331-11-0154"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "itemId": {
                "type": "string",
                "example": "item_id"
              },
              "measurementDescription": {
                "type": "string",
                "example": "ACRS BK SHLDR"
              },
              "occurrences": {
                "type": "integer",
                "example": 0
              },
              "organizationId": {
                "type": "string",
                "example": "org_id"
              },
              "samples": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Sample 1"
                    },
                    "value": {
                      "type": "number",
                      "example": 23.25
                    }
                  }
                }
              },
              "size": {
                "type": "string",
                "example": "L"
              },
              "skuIndex": {
                "type": "integer",
                "example": 3
              },
              "standard": {
                "type": "number",
                "example": 23.25
              },
              "styleName": {
                "type": "string",
                "example": "00548337"
              },
              "tolerance": {
                "type": "number",
                "example": 0.5
              },
              "unit": {
                "type": "string",
                "example": "inch"
              }
            }
          }
        },
        "inspectionPhotos": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "file": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "YELLOW SAMPLE & BULK COMPARISON PICTURE. "
                  },
                  "fileType": {
                    "type": "string",
                    "example": "jpg"
                  },
                  "rotateAngle": {
                    "type": "string",
                    "example": "0"
                  },
                  "source": {
                    "type": "string",
                    "example": "https://s3.amazonaws.com/file.jpg"
                  }
                }
              },
              "groupId": {
                "type": "string",
                "example": "group_id"
              },
              "inspectionId": {
                "type": "string",
                "default": "",
                "example": "inspection_id"
              },
              "itemId": {
                "type": "string",
                "example": "item_id"
              },
              "label": {
                "type": "string",
                "default": "",
                "example": "Back View"
              },
              "organizationId": {
                "type": "string",
                "example": "org_id"
              },
              "photoId": {
                "type": "string",
                "example": "photo_id"
              },
              "status": {
                "type": "string",
                "example": "n/a"
              },
              "style": {
                "type": "string",
                "example": "ACK97 DOT"
              },
              "type": {
                "type": "string",
                "example": "production"
              }
            }
          }
        },
        "inspectionQuestions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "groupId": {
                "type": "string",
                "example": "e3f7a2f8-7909-4b7b-9565-b1c23891f9b6"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "label": {
                "type": "string",
                "example": "Is the product subject to mold / mildew requirements?"
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "example": "request_picture"
                          },
                          "value": {
                            "type": "string",
                            "example": "randomly_percentage"
                          }
                        }
                      }
                    },
                    "failResponse": {
                      "type": "boolean",
                      "example": false
                    },
                    "id": {
                      "type": "string",
                      "example": "chk__122"
                    },
                    "value": {
                      "type": "string",
                      "example": "YES"
                    }
                  }
                }
              },
              "organizationId": {
                "type": "string",
                "example": "252437"
              },
              "questionId": {
                "type": "string",
                "example": "aab3c866-b9d3-4e69-a127-143a38fe84f4_340553ad-6461-4a66-be8d-ce4c0e55e8de"
              },
              "type": {
                "type": "string",
                "example": "yes_no"
              }
            }
          }
        },
        "inspectionRFID": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "barcode": {
                "type": "string",
                "example": "490760310776"
              },
              "code": {
                "type": "string",
                "example": "3504AE253002A181A13B9C59"
              },
              "decodedCode": {
                "type": "string",
                "example": "490760310776"
              },
              "id": {
                "type": "string",
                "example": "6a018f53-d378-4265-b04a-ddaf62ad65f4-2018-04-19-11-00-053"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "matched": {
                "type": "boolean",
                "example": true
              },
              "organizationId": {
                "type": "string",
                "example": "org_id"
              },
              "photos": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "https://s3.amazonaws.com/image.jpg"
                }
              }
            }
          }
        },
        "inspectionResult": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "groupName": {
                "type": "string",
                "example": "Target PO or Packing List"
              },
              "includeInReport": {
                "type": "boolean",
                "example": true
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "organizationId": {
                "type": "string",
                "example": "293414"
              },
              "resultId": {
                "type": "string",
                "example": "result_id"
              },
              "status": {
                "type": "string",
                "example": "pass"
              }
            }
          }
        },
        "inspectionSampleSelection": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "organizationId": {
                "type": "string",
                "example": "293414"
              },
              "sampleSelection": {
                "type": "integer",
                "example": 50
              },
              "sampleSize": {
                "type": "integer",
                "example": 50
              },
              "totalInspectionQuantity": {
                "type": "integer",
                "example": 2100
              }
            }
          }
        },
        "inspectionSampleSelectionSamples": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "assortment": {
                "type": "string",
                "example": "solid"
              },
              "assortmentQuantity": {
                "type": "string",
                "example": "-"
              },
              "cartonPull": {
                "type": "integer",
                "example": 3
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "item": {
                "type": "string",
                "example": "331-11-0151"
              },
              "itemOrderQuantity": {
                "type": "integer",
                "example": 350
              },
              "organizationId": {
                "type": "string",
                "example": "293414"
              },
              "sampleId": {
                "type": "string",
                "example": "sample_id"
              },
              "samplePull": {
                "type": "integer",
                "example": 9
              },
              "style": {
                "type": "string",
                "example": "00548337"
              },
              "styleOrderQuantity": {
                "type": "integer",
                "example": 2100
              }
            }
          }
        },
        "inspectionSpecialAttentionPoint": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "attentionId": {
                "type": "string",
                "example": "attention_id"
              },
              "description": {
                "type": "string",
                "example": "djkdkfncnfj"
              },
              "group": {
                "type": "string",
                "example": "group_id"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "organizationId": {
                "type": "string",
                "example": "org_id"
              },
              "pictures": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "rotateAngle": {
                      "type": "string",
                      "example": "0"
                    },
                    "source": {
                      "type": "string",
                      "example": "https://s3.amazonaws.com/file.jpg"
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "example": "quality"
              }
            }
          }
        },
        "inspectionStandards": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "aql": {
                "type": "object",
                "properties": {
                  "aqlId": {
                    "type": "string",
                    "example": "aql_id"
                  },
                  "aqlName": {
                    "type": "string",
                    "example": "Measurement"
                  },
                  "critical": {
                    "type": "string",
                    "example": "6.5"
                  },
                  "major": {
                    "type": "string",
                    "example": "6.5"
                  },
                  "minor": {
                    "type": "string",
                    "example": "6.5"
                  }
                }
              },
              "availableQuantity": {
                "type": "integer",
                "example": 2100
              },
              "defectFound": {
                "type": "object",
                "properties": {
                  "critical": {
                    "type": "integer",
                    "example": 0
                  },
                  "major": {
                    "type": "integer",
                    "example": 0
                  },
                  "minor": {
                    "type": "integer",
                    "example": 0
                  }
                }
              },
              "determineDesc": {
                "type": "string",
                "example": "AQL Standard "
              },
              "determineType": {
                "type": "string",
                "example": "aqlTable"
              },
              "determineValue": {
                "type": "integer",
                "example": 0
              },
              "failReason": {
                "type": "string",
                "example": "-"
              },
              "group": {
                "type": "string",
                "example": "measurement"
              },
              "inspectionId": {
                "type": "string",
                "example": "inspection_id"
              },
              "maxAllowed": {
                "type": "object",
                "properties": {
                  "critical": {
                    "type": "integer",
                    "example": 0
                  },
                  "major": {
                    "type": "integer",
                    "example": 1
                  },
                  "minor": {
                    "type": "integer",
                    "example": 0
                  }
                }
              },
              "maximumSampleSize": {
                "type": "integer",
                "example": 8
              },
              "minimumSampleSize": {
                "type": "integer",
                "example": 8
              },
              "noOfDefectiveItems": {
                "type": "integer",
                "example": 0
              },
              "noOfDefectiveUnits": {
                "type": "integer",
                "example": 0
              },
              "organizationId": {
                "type": "string",
                "example": "293414"
              },
              "packingType": {
                "type": "string",
                "example": "Solid"
              },
              "sampleSizeCategory": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "productCategory": {
                      "type": "string",
                      "example": "117011"
                    },
                    "sampleSize": {
                      "type": "integer",
                      "example": 8
                    }
                  }
                }
              },
              "totalDefects": {
                "type": "integer",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "example": 6
              }
            }
          }
        }
      }
    },
    "SystemError": {
      "properties": {
        "message": {
          "example": "Internal system error. Please contact the administrator.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PoAlreadyExistError": {
      "properties": {
        "message": {
          "example": "The PO with same number already exists.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InvalidTokenError": {
      "properties": {
        "message": {
          "example": "Invalid token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnauthorizedError": {
      "properties": {
        "message": {
          "example": "Incorrect user name or password.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BadRequestError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "Bad request message"
        }
      },
      "type": "object"
    },
    "ValidationError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "Validation error message"
        },
        "errors": {
          "properties": {
            "vendorId": {
              "items": {
                "type": "string"
              },
              "example": [
                "vendorId not exist",
                "vendorId invalid"
              ],
              "type": "array"
            },
            "factoryId": {
              "items": {
                "type": "string"
              },
              "example": [
                "factoryId not exist",
                "factoryId invalid"
              ],
              "type": "array"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "POs"
    },
    {
      "name": "Measurements"
    },
    {
      "name": "Bookings"
    },
    {
      "name": "Reports"
    }
  ]
}
